body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #000000;
  background-color: #f4f4f4;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 940px;
  margin: 0 auto;
}
.header-links li {
  display: inline-block;
  margin-left: 10px;
}

.header-logo {
  margin-right: 100px; /* Adjust this value to create more or less space between the name and the navigation links */
}

.header-logo a {
  text-decoration: none;
  color: #333;
}

.header-logo a:hover {
  text-decoration: underline;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #333;
  margin-top: 4px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: #333;
  text-decoration: none;
}

nav a:hover {
  color: #000;
  text-decoration: underline;
}


.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-img {
  margin-right: 20px;
  margin-bottom: 10px;
}

.footer-content {
  max-width: 70%;
}



.footer-links {
  display: flex;
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-right: 15px;
}

.footer-links li:last-child {
  margin-right: 0;
}
